@page "/processedorders"

@inject IViewProcessedOrdersUseCase _viewProcessedOrdersUseCase

@attribute [Authorize]

<h3>Processed Orders</h3>
<br />

<OrderListComponent Orders="orders"></OrderListComponent>

@code {
    private IEnumerable<Order> orders = new List<Order>();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        orders = _viewProcessedOrdersUseCase.Execute();
    }
}
